.container {
    background-color: var(--color-primario);
    width: 100%;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.cell {
    margin-bottom: 1vh;
}

input,
textarea {
    box-sizing: border-box;
    width: 100%;
}

h1 {
    text-align: center;
}