h1 {
    font-size: 1.5em;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

@media screen and (min-width: 951px) {
    .row {
        display: grid;
        grid-template-columns: 10fr 1fr;
        height: 90px;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .container {
        max-height: 100%;
        background-color: var(--color-primario);
        padding: 1rem;
        overflow: auto;
        border-radius: 10px;
    }
}

@media screen and (max-width: 950px) {
    .grilla {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .container {
        height: 100%;
        background-color: var(--color-primario);
        padding: 1rem;
        overflow: auto;
        border-radius: 10px;
    }

    .rowSection {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0.5em;
        height: 60vh;
        overflow: auto;
        margin-bottom: 1em;
    }
}