.card {
    background-color: var(--color-secundario);
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
}

.title {
    text-align: center;
}

.description {
    text-align: center;
    min-height: 50px;
    max-height: 50px;
    overflow: auto;
    font-size: 1em;
}

.price {
    text-align: center;
}

.amount {
    text-align: center;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    bottom: 0;
}